node_modules
.env
.env.local
.env.*.local
packages/*/.env
.next
dist
packages/*/dist
packages/database/src/generated/prisma
coverage
playwright-report
test-results
.turbo
package-lock.json
yarn.lock
.DS_Store
docs/*
