node_modules
.env
.env.development
packages/*/.env
.next
dist
packages/*/dist
packages/database/src/generated/prisma
coverage
playwright-report
test-results
.turbo
package-lock.json
yarn.lock
.DS_Store
docs/*
apps/web/next-env.d.ts
